<div class="login_wrapper">
  <section class="login_form" fxFlex.xs="100%">
    <div fxLayoutAlign="center center">
      <div class="logo">
        <span class="material-icons material-icons-input">
          landscape
        </span>
      </div>
    </div>
    <h2 fxLayout="column" fxLayoutAlign="center center">LOG IN</h2>

    <form #loginForm = "ngForm"
          (ngSubmit)="onLogin(loginForm)"
          fxLayout="column" 
          fxLayoutAlign="center center"
          fxLayoutGap="10px">
      <mat-form-field>
        <input
         matInput 
         placeholder="Email"
         name="email"
         ngModel
         #email ="ngModel"
          type="email"
          required
          email
           />
        <mat-icon class="material-icons" matPrefix>account_circle</mat-icon>
        <mat-error  *ngIf="email.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="!email.hasError('required')">E-mail is invalid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input 
        matInput
         placeholder="Password"
         name="password"
         ngModel
         #password ="ngModel"
          type="password"
          required 
          minlength="6"/>
        <mat-icon class="material-icons" matPrefix>enhanced_encryption</mat-icon>
        <mat-hint align="end" >
          {{password.value?.length}} / 6
        </mat-hint>
        <mat-error *ngIf="password.hasError('required')">
          Has to be at least 6 characters
        </mat-error>
      </mat-form-field>

      <mat-checkbox color="primary" ngModel name="agree">Remember Me</mat-checkbox>
      <button *ngIf="!isLoading"
        [disabled]="loginForm.invalid" 
        class="login_button"
        type="submit"
          mat-raised-button>
          Login
      </button>
      <a class="forger_password" rouerLink="">Forget Password?</a>
    </form>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </section>
</div>