mat-toolbar{
    width: 100%;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{
    height: 40px;
    border-radius: 50%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

a:hover,
a:active{
    color: rgb(156, 154, 154);
}
.logout_item{
    cursor: pointer;
}