<div class="btn" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- the start of Add User -->
  <div class="add-user">
    <button color="primary" mat-raised-button (click)="openDynamicDialog('Add')"><mat-icon>add</mat-icon>Add
      user</button>
  </div>
  <!-- the End of Add User -->
</div>
<!-- the start of Add User -->
<div *ngIf="usersList.length > 0">
  <section class="card__container" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px"
    fxLayout.lt-md="column">
    <mat-card *ngFor="let user of usersList">
      <mat-card-header>
        <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="user.avatar" [alt]="user.email" />
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="onDelet(user)">
          Delete
        </button>
        <button mat-raised-button color="warn" (click)="openDynamicDialog('edit', user)">
          update
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>
<div fxLayout="column" fxLayoutAlign="center center" *ngIf="usersList.length ==0">
  <h2>Users List Is Empty</h2>
</div>